# Nom d'utilisateur PostgreSQL
POSTGRES_USER=your_username

# Mot de passe PostgreSQL
POSTGRES_PASSWORD=your_password

# Nom de la base de données
POSTGRES_DB=your_database

# Port local sur lequel PostgreSQL sera exposé
POSTGRES_PORT=5432